parameters:
    level: 5
    paths:
        - app
        - scripts
    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/
    ignoreErrors:
        - '#Undefined type .PhpAmqpLib#'
        - '#Call to an undefined method#'
